.log-container{
    width: 45vw;
    height: 80%;
    padding: 1rem;
    margin: 1rem;
    font-size: 1rem;
    background-color: grey;
    display: flex;
    flex-direction: column;
}


.log-instance:focus{
    background-color: blueviolet;

}
